{% extends 'basic_layout.html'%}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class='container'> 

    <ul class="list-group">
        <div class="message"></div>
        <li class="list-group-item">Username : {{user}}</li>
        <li class="list-group-item" id ='email'>Email : {{user.email}}</li>
      </ul>
    <p>
        
        
    </p>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Change Email-Address
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Change Email-Address</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/accounts/changeemail/" id='form_id' method='POST'>
            <div class="modal-body">
                
                    {% csrf_token %}
                    {{form.as_p}}
                    
               
            </div>
            <div class="modal-footer">
              <button id='closeModal' class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
          </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        $(document).on('submit','#form_id',function(e){
            e.preventDefault();
            $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call
            success: function(response) {
                $("#exampleModal").modal("hide"); 
                $('#email').text('Email : ' + response.email); // update the DIV
            },
            error: function(e, x, r) { // on error..
                $('#message').html(e); // update the DIV
            }
        });

        });
        </script>
</div>
{% endblock %}
